.exibitions .container  {
  margin-top: 13vw;
}

.ex-space {
  height: 5.35vw;
}

.exibitions p {
  margin: 0;
}

.exibitions-block {
  display: flex;
  flex-direction: column;
}

.exibition {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 13.7vw;
}

.main-info {
  width: 57.5vw;
  height: 9vw;
  display: flex;
  flex-direction: row;
}

.buy-ticket-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  height: 22px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.buy-ticket-button p {
  white-space: nowrap;
  color:#DB574D;
}

.poster {
  width: 13.7vw;
  height: 13.7vw;
  margin-right: 2.9vw;
}

.poster img {
  object-fit: cover;
}

.info {
  width: 41vw;
}

.place-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.rectangle {
  background: #000;
  width: 15px;
  height: 1px;
}

.info .name {
  gap: 12px;
}

.info .name p {
  font-size: 2.4vw;
}

.exibition .name p {
  margin-top: 0.5vw;
  margin-bottom: 1.2vw;
}

.description {
  line-height: 160%;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.date p {
  color: #DB574D;
  font-size: 1.8vw;
  line-height: 120%;
}

.date .name p {
  font-size: 6vw;
  line-height: 110%;
  margin: 0;
}