html, body{
  background-color: #fff
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  margin-top: 50px;
}

.header .container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: 'ClashDisplay-Variable';
  font-weight: 400;
  text-transform: uppercase;
  width: fit-content;
  margin: 10px;
  font-size: 2vw;
}

.hamburger-box {
  position: relative;
  width: 55px;
  height: 23px;
  margin: 10px;
}

.hamburger-inner {
  position: absolute;
  content: '';
  display:  block;
  height: 2px;
  background: #000;
  transition: ease-in-out;
  right: 0;
}

.hamburger-inner:nth-of-type(1) {
  width: 100%;
}

.hamburger-inner:nth-of-type(2) {
  top: calc(50% - 1px);
  width: 60%;
  opacity: 1;
}

.hamburger-inner:nth-of-type(3) {
  bottom:0;
  width: 80%;
}

/* .hamburger-box:hover .hamburger-inner:nth-of-type(2) {
  width: 100%;
  opacity: 0;
  transition: 0.15s ease-in-out;
}

.hamburger-box:hover .hamburger-inner:nth-of-type(1) {
  width: 100%;
  transform: translate3d(0, px, 0) rotate(45deg);
  transition: 0.15s ease-in-out;
}

.hamburger-box:hover .hamburger-inner:nth-of-type(3) {
  width: 100%;
  transform: translate3d(0, -14px, 0) rotate(-45deg);
  transition: 0.15s ease-in-out;
} */

.hamburger-box:hover .hamburger-inner:nth-of-type(1), 
.hamburger-box:hover .hamburger-inner:nth-of-type(2),
.hamburger-box:hover .hamburger-inner:nth-of-type(3) {
  width: 100%;
  transition: 0.15s ease-in-out;
} 

.hero .container {
  display: flex;
  flex-direction: column;
  position: relative;
  /* overflow: hidden; */
}

.hero-title {
  width: fit-content;
  height: fit-content;
  z-index: 100;
}

.hero-maintitle {
  font-family: 'ClashDisplay-Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 12vw;
  line-height: 90%;
  margin-bottom: 0;
  color: #DB574D;
}

.hero-subtitle {
  font-family: 'ClashDisplay-Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  margin-bottom: 0;
  margin-top: 0.8vw;
  text-transform: uppercase;
  text-align: center;
}

.hero-subtitle:first-of-type {
  padding-right: 8%;
}

.hero-subtitle:last-of-type {
  padding-left: 8%;
}

.hero-img {
  position: absolute;
  right: 0;
  width: 50%;
  z-index: 0;
}

.hero-img img {
  object-fit: cover;
  width: 100%;
}

.hero-button {
  width: 40%;
  position: relative;
}

.hero-button-img {
  width: 35%;
}

.hero-button-img img {
  width: 100%;
  height: 100%;
}

.hero-button-img p{
  margin-top: 6px;
  font-family: 'ClashDisplay-Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
}

.circle {
  position: absolute;
  left: 30%;
  bottom: 0;
}

.circle .main {
  background:#DB574D;
  padding: 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  bottom: -20px;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.circle .main p {
  margin: 0;
  color: #fff;
  font-family: 'ClashDisplay-Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  text-transform: uppercase;
  z-index: 100;
}

.circle .main::after {
  position: absolute;
  background: transparent;
  padding: 20px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: solid 2px #DB574D;
  bottom: -10px;
  left: 10px;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.circle:hover .main::after {
  left: -12.5px;
  background:#DB574D;

}

@media (max-width: 1024px) {
  .logo {
    font-size: 3vw;
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: 18px;
  }
}